
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Gemma cpp Documentation</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
<h1>Gemma cpp Documentation</h1>
<p>This documentation provides a detailed overview of the Gemma cpp library, including:</p>
<ul>
<li>An introduction to Gemma cpp and its features</li>
<li>A guide to installing and using Gemma cpp</li>
<li>Reference documentation for all of the Gemma cpp classes and functions</li>
</ul>
<p>If you are new to Gemma cpp, we recommend that you start by reading the <a href="/tutorials">tutorials</a>.</p>
</div>
</body>
</html>


